<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Token App</title>
   <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
   <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
   <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">

   <link rel="shortcut icon" href="assets/icons/favicon.png">

   <!-- Controller -->
   <script src="assets/js/jquery.js"></script>
   <script src="assets/js/angular.min.js"></script>
   <script src="assets/js/angular-cookies.min.js"></script>
   <script src="controllers/token.js"></script>
   <script src="controllers/login.js"></script>

</head>

   <body class="" ng-app="TokenApp" ng-controller="tokenGeneratorController" ng-cloak>
     <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="logo-area">
           <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
           <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
           <span class="icon-bg">
           <i class="ti ti-menu"></i>
           </span>
           </a>
           </span>
           <a class="navbar-brand" href="index.html" style="width: 125px"></a>
           <h1 style="font-size: 18px; font-weight: bold; text-transform: uppercase">{{outletCode}}</h1>
        </div>
        <!-- logo-area -->
        <ul class="nav navbar-nav toolbar pull-right">
           <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
              <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-zoom-in"></i></span></i></a>
           </li>
           <li class="dropdown toolbar-icon-bg">
              <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
              <img class="img-circle" src="assets/img/default_user.png" alt="" />
              </a>
              <ul class="dropdown-menu userinfo arrow">
                 <li><a href="settings.html"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                 <li ng-click="logoutNow()"><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
              </ul>
           </li>
        </ul>
     </header>


      <div id="wrapper">
         <div id="layout-static">
           <div class="static-sidebar-wrapper sidebar-default">
              <div class="static-sidebar">
                 <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                       <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <li><a href="index.html"><i class="ti ti-receipt"></i><span>Tokens</span></a></li>
                              <li><a href="settings.html"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                              <li><a href="staff-registry.html"><i class="ti ti-user"></i><span>Manager Users</span></a></li>
                           </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>


            <div class="static-content-wrapper">
               <div class="static-content">
                  <div class="page-content">
                     <ol class="breadcrumb">
                     </ol>
                     <div class="container-fluid">
                        <div data-widget-group="group1">

                          <div class="row">
                             <div class="col-sm-2"></div>
                             <div class="col-sm-8">
                                <div class="input-group" style="padding: 10px; border: none;">
                                   <input type="text" ng-model="searchID" id="mySearchBox" class="form-control input-lg" style="text-align: center" placeholder="">
                                   <span class="input-group-btn">
                                   <button class="btn btn-default btn-lg" type="button" ng-click="search(searchID)"><i class="ti ti-search"></i></button>
                                   <button class="btn btn-default btn-lg" type="button" title="Search By Date" style="margin-left: 10px" ng-click="searchByDate()"><i class="ti ti-calendar"></i></button>
                                   </span>
                                </div>
                                <p ng-if="!isSearched" style="font-size:16px; text-align: center; color: #bdc3c7">Search with Mobile Number or Name or Token Number or filter by Date by clicking <i class="fa fa-calendar" style="font-size: 90%; padding: 0px 2px"></i> icon.</p>
                             </div>
                          </div>


                          <!-- Default Results -->
                          <div class="tab-content" ng-if="!isSearched">
                             <div class="tab-pane active" id="tab-projects">
                                <div class="panel panel-default">
                                   <div class="panel-heading">
                                      <h2 style="width: 100%">{{filterTitle}}<button class="btn btn-success-alt btn-sm" style="float: right" ng-click="openNewToken()">Add New</button></h2>
                                   </div>
                                   <div class="panel-body">     
                                     <div id="vegaPanelBodyLoader"></div>                               
                                     <div class="row" ng-if="!isOrdersFound" style="padding-top: 30px">                                     
                                       <p style="font-size:21px; text-align: center; color: #7f8c8d">{{resultMessage}}</p>
                                     </div>
                                      <div class="table-responsive" ng-if="isOrdersFound">                                      	 
                                         <table class="table m-n">
                                           <col width="5%">
                                           <col width="25%">
                                           <col width="15%">
                                           <col width="15%">
                                           <col width="20%">
                                           <col width="20%">
                                            <thead>
                                              <tr>
                                                 <th>Token</th>
                                                 <th>Customer</th>
                                                 <th>Travelling</th>
                                                 <th>Date</th>
                                                 <th>Staff</th>
                                                 <th></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="token in generatedTokens track by $index">
                                                 <td>{{token.id}}</td>
                                                 <td>{{token.customer_name}}<br><name style="font-size: 12px">{{token.customer_mobile}}</name></td>
                                                 <td>{{token.travel_from}} to {{token.travel_to}}</td>
                                                 <td>{{token.travel_date}}</td>
                                                 <td>
                                                   {{token.staff_name}}
                                                   <i style="display: block">{{token.remarks}}</i>
                                                 </td>
                                                 <td>
                                                    <button ng-click="editToken(token)">Edit</button>
                                                    <button ng-click="printToken(token.id)">Print</button>

                                                 </td>
                                              </tr>
                                            </tbody>
                                         </table>
                                         <center>
                                           <br>
                                           <button class="btn btn-lg" ng-if="isMoreLeft" style="background: transparent; border: 1px solid" ng-click="loadMore()">Load More</button>
                                         </center>
                                      </div>
                                      <!-- /.table-responsive -->

                                   </div>
                                   <!-- /.panel-body -->
                                </div>
                             </div>

                          </div>



                          <!-- Search Results -->
                          <div class="tab-content" ng-if="isSearched">
                             <div class="tab-pane active" id="tab-projects">
                                <div class="panel panel-default">
                                   <div class="panel-heading">
                                      <h2 style="width: 100%">{{filterTitle}}<button class="btn btn-success-alt btn-sm" style="float: right" ng-click="openNewToken()">Add New</button></h2>
                                   </div>
                                   <div class="panel-body">
                                     <div class="row" ng-if="!isOrdersFound" style="padding-top: 30px">
                                       <p ng-if="isSearched" style="font-size:21px; text-align: center; color: #7f8c8d">No orders found.</p>
                                     </div>
                                      <div class="table-responsive" ng-if="isOrdersFound">
                                         <table class="table m-n">
                                           <col width="5%">
                                           <col width="15%">
                                           <col width="20%">
                                           <col width="48%">
                                           <col width="12%">
                                            <thead>
                                               <tr>
                                                  <th>#</th>
                                                  <th>Order No.</th>
                                                  <th>Type</th>
                                                  <th>Date</th>
                                                  <th>Items</th>
                                                  <th>Value</th>
                                                  <th>Status</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                               <tr ng-repeat="order in generatedTokens track by $index">
                                                  <td scope="row">{{$index + 1}}</td>
                                                  <td>{{order.orderID}}</td>
                                                  <td>{{order.isTakeaway}}</td>
                                                  <td>{{order.date}}</td>
                                                  <td><span ng-repeat="item in order.cart.items">{{item.itemName}} ({{item.qty}}). </span></td>
                                                  <td><i class="fa fa-inr"></i> {{order.cart.cartTotal}}</td>
                                                  <td>{{order.status}}</td>
                                               </tr>
                                            </tbody>
                                         </table>
                                         <center>
                                           <br>
                                           <button class="btn btn-lg" ng-if="isMoreLeft" style="background: transparent; border: 1px solid" ng-click="loadMore()">Load More</button>
                                         </center>
                                      </div>
                                      <!-- /.table-responsive -->

                                   </div>
                                   <!-- /.panel-body -->
                                </div>
                             </div>

                          </div>





               <!-- CANCEL Confirmation Modal -->
               <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">   
                        <div class="modal-body" style="padding-bottom: 40px">                   
                           <p style="font-size: 16px; color: #95a5a6; float: left">Do you really want to delete this token for <strong style="color: #e74c3c">{{cancelShowName}}</strong>?</p>
                        </div>                                                               
                        <div class="modal-footer">                                                    
                           <button type="button" class="btn btn-default" style="float: left" data-dismiss="modal">No</button>
                           <button type="button" class="btn btn-danger" ng-click="confirmCancel(cancelItemCode)">Yes, Cancel</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->    
               
               
               <!-- NEW Token Modal -->
               <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="min-width: 900px !important;">
                     <div class="modal-content">
                        <div class="modal-body">
                           <h2 style="text-align: center;">New Token</h2>
                           <h3 class="smallHeading">Customer Details</h3>
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Customer Name</label>
                                 <input type="text" ng-model="newTokenContent.customer_name" class="form-control input-lg" placeholder="Customer Name">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">DOB</label>                                 
                                 <div class="input-group date">
                                    <input type="text" ng-model="newTokenContent.customer_dob" id="customer_dob" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Mobile Number</label>
                                 <input type="number" ng-model="newTokenContent.customer_mobile" class="form-control input-lg" placeholder="Mobile Number">
                              </div>
                           </div>

                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Passport Number</label>
                                 <input type="text" ng-model="newTokenContent.passport_number" class="form-control input-lg" placeholder="Passport Number">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Passport Expiry</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="newTokenContent.passport_expiry" id="passport_expiry" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>
                           </div>

                           <h3 class="smallHeading">Travel Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">From</label>
                                 <input type="text" ng-model="newTokenContent.travel_from" class="form-control input-lg" placeholder="From">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">To</label>
                                 <input type="text" ng-model="newTokenContent.travel_to" class="form-control input-lg" placeholder="To">
                              </div>     
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Travel Date</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="newTokenContent.travel_date" id="travel_date" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>                         
                           </div> 

                           <h3 class="smallHeading">Flight Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Flight</label>
                                 <input type="text" ng-model="newTokenContent.flight_name" class="form-control input-lg" placeholder="Flight">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Departure Time</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="newTokenContent.flight_departure" class="form-control" id="time_departure">
                                    <span class="input-group-addon"><i class="ti ti-time"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Arrival Time</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="newTokenContent.flight_arrival" class="form-control" id="time_arrival">
                                    <span class="input-group-addon"><i class="ti ti-time"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Status</label>
                                 <select class="form-control" id="flight_status">                     
                                    <option value="OK">OK</option>
                                 </select>
                              </div>
                           </div> 

                           <h3 class="smallHeading" style="color: #c7d34d">Other Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Customer Address</label>
                                 <textarea ng-model="newTokenContent.customer_address" class="form-control input-lg" placeholder="Customer Address"></textarea>
                              </div>
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Remarks</label>
                                 <textarea ng-model="newTokenContent.remarks" class="form-control input-lg" placeholder="Any Remarks"></textarea>
                              </div>
                              <p ng-show="newTokenError != ''" style="margin: 20px 0px 0px 15px; color: #e74c3c">{{newTokenError}}</p>    
                           </div>
                                
                           
                        </div>                                                                                       
                        <div class="modal-footer">                      
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-success" ng-click="saveNewToken()">Generate Token</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->    
               
               


               <!-- Edit Token Modal -->
               <div class="modal fade" id="tokenEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="min-width: 900px !important;">
                     <div class="modal-content">
                        <div class="modal-body">
                           <h2 style="text-align: center;">Editing Token - <b>{{editTokenContent.id}}</b></h2>
                           <h3 class="smallHeading">Customer Details</h3>
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Customer Name</label>
                                 <input type="text" ng-model="editTokenContent.customer_name" class="form-control input-lg" placeholder="Customer Name">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">DOB</label>                                 
                                 <div class="input-group date">
                                    <input type="text" ng-model="editTokenContent.customer_dob" id="customer_dob" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Mobile Number</label>
                                 <input type="number" ng-model="editTokenContent.customer_mobile" class="form-control input-lg" placeholder="Mobile Number">
                              </div>
                           </div>

                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Passport Number</label>
                                 <input type="text" ng-model="editTokenContent.passport_number" class="form-control input-lg" placeholder="Passport Number">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Passport Expiry</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="editTokenContent.passport_expiry" id="passport_expiry" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>
                           </div>

                           <h3 class="smallHeading">Travel Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">From</label>
                                 <input type="text" ng-model="editTokenContent.travel_from" class="form-control input-lg" placeholder="From">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">To</label>
                                 <input type="text" ng-model="editTokenContent.travel_to" class="form-control input-lg" placeholder="To">
                              </div>     
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Travel Date</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="editTokenContent.travel_date" id="travel_date" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>                         
                           </div> 

                           <h3 class="smallHeading">Flight Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Flight</label>
                                 <input type="text" ng-model="editTokenContent.flight_name" class="form-control input-lg" placeholder="Flight">
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Departure Time</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="editTokenContent.flight_departure" class="form-control" id="time_departure">
                                    <span class="input-group-addon"><i class="ti ti-time"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Arrival Time</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="editTokenContent.flight_arrival" class="form-control" id="time_arrival">
                                    <span class="input-group-addon"><i class="ti ti-time"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-3">
                                 <label class="myReservationLabel">Status</label>
                                 <select class="form-control" id="flight_status">                     
                                    <option value="OK">OK</option>
                                 </select>
                              </div>
                           </div> 

                           <h3 class="smallHeading" style="color: #c7d34d">Other Details</h3>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Customer Address</label>
                                 <textarea ng-model="editTokenContent.customer_address" class="form-control input-lg" placeholder="Customer Address"></textarea>
                              </div>
                              <div class="col-sm-6">
                                 <label class="myReservationLabel">Remarks</label>
                                 <textarea ng-model="editTokenContent.remarks" class="form-control input-lg" placeholder="Any Remarks"></textarea>
                              </div>
                              <p ng-show="editTokenError != ''" style="margin: 20px 0px 0px 15px; color: #e74c3c">{{editTokenError}}</p>    
                           </div>
                                
                           
                        </div>                                                                                       
                        <div class="modal-footer">                      
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-success" ng-click="saveEditToken()">Modify Token</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->    
               
            



                        </div>
                     </div>
                     <!-- .container-fluid -->
                  </div>
                  <!-- #page-content -->
               </div>
            </div>
         </div>
      </div>

         <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> 
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
      <script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
      <script type="text/javascript" src="assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
      <script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->
      <script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
      <script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->
      <script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->
      <script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
      <script type="text/javascript" src="assets/js/application.js"></script>
      <script type="text/javascript" src="assets/demo/demo.js"></script>
      
      <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker -->

   </body>
</html>
